.primary-color {
    color: #4e51fd;
}

.btn-sz-primary {
    width: 100%;
    color: white ;
    background-color: #4e51fd;
    position: relative;
    top: -110px;
    left: 10px;
}

.btn-sz-primary:hover {
    background-color: #3c3ff8;
}

.main-text {
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    position: relative;
    top: -140px;
    left: -70px;
}

.main-input {
    width: 80%;
    border: none ;
    border-radius: 10px;
    position: relative;
    top: -100px;
}

.img-fluid{
height: 600px;
position: relative;
float: left;
}

.back-to-login{
    text-decoration: none;
    position: relative;
    top: -110px;
    float: left;
    left: 15px;
}

.back-to-login:hover{
    text-decoration: underline;
    color: #0b1024;
}