.card-image {
    height: 300px;
}

.mainCardStudent{
    transition: 0.4s;
    height: 350px;
}

.cardBodyStudent{
    height: fit-content;
}

.mainCardTeacher{
    transition: 0.4s;
}

.lessonCard .mainCardStudent:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #292828;
    height: 500px;
}

.lessonCard .mainCardTeacher:hover{
    transform: translateY(-0.5rem);
        box-shadow: 0.5rem 0.75rem 1.5rem #292828;
        height: 540px;
}

.cardText,
.btn-primary{
    display: none;
}

.lessonCard .mainCardStudent:hover .cardText,
.lessonCard .mainCardStudent:hover .btn-primary{
    display: inline-block;
}

 @media screen and (max-width: 600px){
    .cardTitleStudent, 
    .cardText{
        font-size: small;
    }

    .btn-primary{
        font-size: smaller;
        padding: 1px;
        justify-content: center;
    }

    .summarize{
        margin-left: 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .cardTitleStudent,
    .cardText {
            font-size: medium;
        }

        .cardText{
            margin-bottom: 8px;
        }

    .btn-primary{
                    font-size: medium;
                    padding: 2px;
                    justify-content: center;
                    margin-top: 0;
                }

    .summarize {
        margin-left: 0;
             }
}

@media screen and (min-width: 801px) and (max-width: 1024px){
    .cardTitleStudent,
        .cardText {
            font-size: large;
        }

                .cardText {
                    margin-bottom: 8px;
                }

                                .btn-primary {
                                    font-size: large;
                                    padding: 4px;
                                    justify-content: center;
                                    margin-top: 0;
                                }
                
                                .summarize {
                                    margin-left: 0;
                                }
}

@media screen and (min-width: 1025px) and (max-width: 1285.60px) {
    .cardText{
        margin-bottom: 4px;
    }

    .showLesson,
    .summarize{
        padding: 4px;
    }
}
